*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
    height: 100vh;
    /* width: 100vw; */
}
#header{
    height: 100px;
}
.parent-container{
    height: 100%;
    width: 100%;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 320px;
    padding: 20px 5px;
    height: 600px;
    overflow: hidden;
}

#parent {
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 30px; */
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    width: 320px;
    height: 600px;
    /* pad; */
}

#input{
    /* padding: 10px 0px; */
    margin-bottom: 10px;
    width: 290px;
    outline: none;
    overflow: hidden;
    border: 0px;
    background-color: transparent;
    color: white;
    font-size: 70px;
    text-align: right;
}

.btn{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    font-size: 40px;
    text-align: center;
    color: #FFFF;
    background: #333333;
    border: 0px;
    cursor: pointer;
    transition: background 0.15s ease, transform 0.1s ease;
}
.func{
    background: #A5A5A5;
color: #000000;
display: flex;
justify-content: center;
align-items: center;
}
.operator{
    background: #FF9F0A;
}

.btn:hover{
    border: 2px solid white;
     filter: brightness(1.15);
}
.btn:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}

#multiply{
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 720px) {
  .btn:hover {
    filter: none;
    border: none;
  }
  .btn{
    border: 0px;
    outline: none;
    transition: background 0.15s ease, transform 0.1s ease;
}
#header{
    height: 80px;
}
.btn:focus {
  outline: none;
}
.btn:focus-visible {
  outline: none;
}
button {
  -webkit-tap-highlight-color: transparent;
}

#container{
    border-radius: 0px;
    margin: 0px;
}
.parent-container{
    /* height: 100vh; */
    /* width: 100%; */
    background-color: #000000;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding-bottom: 200px; */
}
}