* {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
    }
    @media (max-width: 720px) {
      .container {
        background-color: #000;
        width: inherit;
        height: inherit;
      }
      body {
        width: 100%;
      }
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      /* background-color: rgb(255, 255, 255); */
      /* height: inherit;
      width: inherit; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sub-container {
      height: 600px;
      width: 320px;
      background-color: black;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 5px;
    }
    .input-area {
      /* margin-top: 10px; */
      height: 200px;
      width: 300px;
      background-color: rgb(0, 0, 0);
      display: flex;
      justify-content: end;
      align-items: end;
      padding: 15px 15px;
      border-radius: 40px;
      /* border: 2px solid white; */
      overflow: hidden;
    }
    #input {
      text-align: end;
      font-size: 70px;
      width: 100%;
      border: none;
      /* height: 100%; */
      background-color: black;
      color: #fff;
      outline: none;
    }

    .btns {
      height: 400px;
      width: 300px;
      background-color: rgb(0, 0, 0);
      border-radius: 40px;
      /* border: 2px solid white; */
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
    }
    .btn {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      color: #fff;
      background: #333333;
    }
    .func {
      background: #a5a5a5;
      color: #000;
    }
    .operator {
      background-color: #ff9f0a;
    }
    button {
      transition:
        transform 0.1s ease,
        box-shadow 0.1s ease;
    }

    /* Desktop hover */
    button:hover {
      transform: scale(1.05);
    }

    /* Mobile tap / click */
    button:active {
      transform: scale(0.9);
    }
    button {
      -webkit-tap-highlight-color: transparent;
    }
    .no-copy {
      -webkit-user-select: none; /* Chrome, Safari */
      -ms-user-select: none; /* Edge */
      user-select: none; /* Standard */
    }
    .fa-solid {
      color: black;
    }
    .fa-xmark {
      color: white;
    }
    @media (hover: none) {
      button:hover {
        transform: none;
      }
    }